
        body {

            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: black;
            color: #333;
        }
        

        .titulo {
            
            height: 120px;
            position: relative;
            text-align: center;
            background-color: rgb(40, 188, 171);


            
        }

        .Contenidotitulo {
            
            color:  white;
            position: absolute;
            margin: 2px;
            text-align: center;
            inset: 0;
        }
        
        .Barradenavegacion {
            text-align: center;
            bottom: 0;
            right: 0;
            border: 5px solid black;
            box-sizing: border-box;
            font-size: 20px;
            background-color: rgb(40, 188, 171);
        }

        .Navegacion {
              
            margin: 10px;
            color: white;
            text-decoration-line: none;

        }

        .Navegacion:hover {
            border: 5px solid rgb(0, 0, 0);
            color: rgb(0, 0, 0);
    

        }

        .Imagenmia {
            text-align: center;
        }

        .XP {

            background-color: #ffffff;
            margin: 20px 0;
            padding: 20px;
            border-radius: 5px; 
            
        }

        .XP-item{
            margin-bottom: 20px;

        }

        .Instagram {
            color: rgb(158, 55, 184);

        }

        .Instagram:hover{
            color:rgb(0, 0, 0);
            border: 5px solid rgb(158, 55, 184);

        }

        .Facebook {
            color:  rgb(24, 119, 242)

;
        }
        .Facebook:hover{
            color: rgb(0,0,0);    
            border: 5px solid rgb(24, 119, 242);
        }

        .Linkedin {
            color: rgb(0, 115, 177);
        }
        .Linkedin:hover{
            color: rgb(0, 0, 0);
            border: 5px solid rgb(0, 115, 177);
        }

        .Tiktok {
            color: rgb(254, 44, 85);
        }
        .Tiktok:hover{
            color: rgb(0, 0, 0);
            border: 5px solid rgb(254, 44, 85);
        }

        .Listadeobjetivos {
            background-color: #ffffff;
            margin: 23px 43px;
            padding: 20px;
            border-radius: 5px;
        }

        .XP {
            background-color: #ffffff;
            margin: 23px 43px;
            padding: 20px;
            border-radius: 5px;
        }

        .Proyectos {
            background-color: #ffffff;
            margin: 23px 43px;
            padding: 20px;
            border-radius: 5px;
        }

        .RedesSocialesCL {
            background-color: #ffffff;
            margin: 23px 43px;
            padding: 20px;
            border-radius: 5px;
        }

        .PreguntasF {
            background-color: #ffffff;
            margin: 23px 43px;
            padding: 20px;
            border-radius: 5px;
        }

        .footer {
            color: white;
            margin: 20px 0;
            padding: 20px;
            border-radius: 5px;
            background-color: rgb(40, 188, 171);
        }
        

        
        
        




        

